<p id="notice"><%= notice %></p>

<h1>Adverts</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Employer</th>
      <th scope="col">Employer email</th>
      <th scope="col">Category</th>
      <th scope="col">Expiration date</th>
    </tr>
  </thead>

  <tbody>
    <% @job_adverts.each.with_index  do |advert, index| %>
      <tr>
        <th scope="row">index</th>
        <td><%= advert.title %></td>
        <td><%= advert.description %></td>
        <td><%= advert.employer %></td>
        <td><%= advert.employer_email %></td>
        <td><%= advert.category %></td>
        <td><%= advert.expiration_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
