<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @job_advert.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job_advert.description %>
</p>

<p>
  <strong>Employer:</strong>
  <%= @job_advert.employer %>
</p>

<p>
  <strong>Employer email:</strong>
  <%= @job_advert.employer_email %>
</p>

<p>
  <strong>Category:</strong>
  <%= @job_advert.category %>
</p>

<p>
  <strong>Expiration date:</strong>
  <%= @job_advert.expiration_date %>
</p>

