<p id="notice"><%= notice %></p>

<p>
  <strong>Full name:</strong>
  <%= @job_application.applicant_full_name %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @job_application.date_of_birth %>
</p>

<p>
  <strong>Email:</strong>
  <%= @job_application.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @job_application.phone_number %>
</p>

<p>
  <strong>Address:</strong>
  <%= @job_application.address %>
</p>

<p>
  <strong>Qualification:</strong>
  <%= @job_application.qualification %>
</p>

<%= link_to 'Edit', edit_job_application_path(@job_application) %> |
<%= link_to 'Back', job_applications_path %>
